@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/FiraSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/FiraSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/FiraSans-ExtraBold.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}

.copyright {
    margin-top: 2.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    font-size: 1.2rem;
}
